APScheduler==3.6.3
astroid==2.5.1
attrs==20.3.0
bjoern==3.1.0
certifi==2020.12.5
click==7.1.2
Cython==0.29.22
dartsclone==0.9.0
Flask==1.1.2
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
mirakuru==2.3.0
packaging==20.9
pluggy==0.13.1
port-for==0.4
psutil==5.8.0
psycopg2==2.8.6
py==1.10.0
pylint==2.7.2
pyparsing==2.4.7
pytest==6.2.2
pytest-postgresql==2.6.1
python-telegram-bot==13.3
pytz==2021.1
six==1.15.0
sortedcontainers==2.1.0
SudachiDict-core==20201223.post1
SudachiPy==0.5.2
Sphinx==3.5.3
toml==0.10.2
tornado==6.1
tzlocal==2.1
Werkzeug==1.0.1
wrapt==1.12.1
